<div ng-if="!fn.editMode" class="panel panel-info">
  
  <div class="panel-heading">
  
    <div class="row">
  
      <div class="col-sm-12">
        <span class="pull-right">
          <form class="input-group">
            <span class="input-group-addon" id="basic-addon1">
              <i class="fa fa-search pull-right text-black"></i> 
            </span> 
            <input type="text" placeholder="filtro" ng-model="searchFilename" class="form-control"/>
          </form>
        </span>
        <h3 class="panel-title">Conteúdos</h3>
        <p>{{assetConfig.assets.assets.length}} Arquivos em&nbsp;{{!assetConfig.allAssets && playlist.selectedPlaylist.name || "total"}}</p>
      </div>
  
      <div class="col-sm-12">

        <span ng-attr-title="Click this button to select, edit and add labels" class="btn-group pull-right">
          <a ng-click="loadCategory()" class="btn btn-info btn-sm">
            <i class="fa fa-tags">&nbsp;</i>
            <span>{{label.selectedLabel.trunc(10) || "Etiquetas"}}</span>
          </a>
          <button ng-show="label.selectedLabel" ng-click="label.selectedLabel=null;" class="btn btn-info btn-sm">
            Mostrar tudo <i class="fa fa-close"></i>
          </button>
        </span>

        <div dropdown="dropdown" ng-if="!assetConfig.allAssets" class="dropdown pull-right">
          <a dropdown-toggle="dropdown-toggle" class="dropdown-toggle btn btn-info btn-sm  mr-3 pull-right"><i class="fa fa-plus"></i>&nbsp;Adicionar</a>
          <br>
          <ul role="menu" class="dropdown-menu">
            <li class="text-left">
              <nodeims-file-upload onstart="upload.onstart()" onprogress="upload.onprogress(percentDone)" onerror="upload.onerror(files, type, msg)" ondone="upload.ondone(files, data)" class="text-left" style="padding: 3px 20px; color: #333 !important">Subir arquivos</nodeims-file-upload>
            </li>
            <li><a ng-click="link.showPopup()" class="btn-block">Adicionar um Link</a></li>
            <li><a ng-click="link.showPopup('txt')" class="btn-block">Adicionar uma mensagem</a></li>
            <li><a ng-click="link.showPopup('local')" title="{{'You can local folder/file here'}}" class="btn-block">Adicionar uma pasta/arquivo local</a></li>
          </ul>
        </div>

        <div ng-if="!assetConfig.allAssets" class="pull-right">
          <a ng-click="fn.edit()" class="btn btn-info btn-sm mr-3">
            <i class="fa fa-pencil"></i>&nbsp;Editar
          </a>
        </div>

        <div ng-hide="!ngDropdown.selectedAssets.length" class="pull-right">
          <div class="btn-group-xs pull-right"><a ng-if="assetConfig.allAssets" ng-click="ngDropdown.playlist.events.onItemSelect()" class="btn btn-success"><i class="fa fa-lg fa-arrow-circle-right">atribuir</i></a><a ng-click="ngDropdown.clearCheckboxes()" class="btn btn-link"><i class="fa fa-times text-black fa-lg"></i></a></div>
          <div ng-if="!assetConfig.allAssets" ng-dropdown-multiselect="" options="ngDropdown.label.Label.labels" selected-model="ngDropdown.label.selectedLabels" events="ngDropdown.label.events" translation-texts="ngDropdown.label.customTexts" extra-settings="ngDropdown.label.extraSettings" checkboxes="true" class="pull-right"></div>
        </div>

      </div>
  
      

      
      

      

    </div>
  </div>
  
  <ul as-sortable="sortable.options" ng-model="assetConfig.assets.assets" style="min-height:50px;" class="list-group">
    
    <li ng-repeat="file in assetConfig.assets.assets | filter:labelFilter" as-sortable-item="as-sortable-item" ng-show="([file.fileDetails.name] | filter:searchFilename).length" ng-class="{&quot;list-group-item-danger&quot;:file.deleted}" style="margin:0px;min-height:70px;" class="list-group-item">
      
      <div as-sortable-item-handle="as-sortable-item-handle" class="row">
        
        <div class="col-sm-2">
          <!--a ng-click="fn.showDetails(file.fileDetails.name)"-->
            <img ng-if="file.fileDetails.thumbnail" ng-src="{{file.fileDetails.thumbnail}}" class="media-object img-rounded"/>
            <div ng-if="!file.fileDetails.thumbnail" class="letter-box media-object img-rounded">
              <span ng-if="file.fileDetails.type == &quot;audio&quot; || file.fileDetails.type == &quot;radio&quot;">
                <i class="fa fa-music"></i>
              </span>
              <span ng-if="file.fileDetails.type != &quot;audio&quot; &amp;&amp; file.fileDetails.type != &quot;radio&quot;">
                {{file.fileDetails.type.slice(0,1) || 'N'}}
              </span>
            </div>
          <!--/a-->
        </div>

        <div class="col-sm-10">
          <div class="row">
            <div class="col-sm-9">
              <p>
                <h4>
                  <a ng-click="fn.showDetails(file.fileDetails.name)">
                    {{file.fileDetails.name }}
                  </a>
                </h4>
                <small ng-if="playlist.selectedPlaylist &amp;&amp; !assetConfig.allAssets">
                  &nbsp;{{file.playlistDetails.side}} &nbsp;{{file.playlistDetails.bottom}}
                </small>
              </p>
              <p><small class="text-info ">{{file.fileDetails.labels.join(',')}}</small></p>
              <p><small ng-if="file.fileDetails.resolution.width" class="text-muted cursor-default">{{file.fileDetails.resolution.width}}x{{file.fileDetails.resolution.height}}</small></p>
              <p ng-if="playlist.selectedPlaylist  &amp;&amp; !assetConfig.allAssets" class=""><small class="text-muted"> {{file.playlistDetails.duration}} segundos</small></p>
              <!-- <p><small class="cursor-default">{{file.fileDetails.size}}</small></p> -->
            </div>
            
            <div class="col-sm-3 text-right">
              <p style="border-bottom: 1px solid #ccc"> <small>Etiquetar</small>&nbsp;&nbsp;</i><input type="checkbox" name="checkbox" ng-model="file.selected" ng-change="ngDropdown.checkbox(file)"/></p>
                           
              <p>
                <a title="{{'Add validity period for the asset'}}" ng-click="scheduleValidity(file)" class="text-right">
                  <p ng-if="!(file.fileDetails.validity.enable)"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Validade</p>
                  <small ng-if="file.fileDetails.validity.enable">
                    {{file.fileDetails.validity.startdate | date:'MMM d':'UTC'}}
                    <small ng-if="file.fileDetails.validity.startdate &amp;&amp; file.fileDetails.validity.starthour">
                      ({{file.fileDetails.validity.starthour}}h)
                    </small>-
                    {{file.fileDetails.validity.enddate | date:'MMM d':'UTC'}}
                    <small ng-if="file.fileDetails.validity.enddate &amp;&amp; file.fileDetails.validity.endhour" class="text-muted">
                      ({{file.fileDetails.validity.endhour}}h)
                    </small>
                  </small>
                </a>
              </p>
            </div>
            <!--.col-sm-1.pull-right(ng-if="assetConfig.allAssets")<a ng-click=""><i class="fa fa-lg fa-arrow-circle-right text-success"></i></a>
            -->
          </div>
        </div>
      </div>
    </li>
    <h5 ng-show="!assetConfig.assets.assets.length" class="text-info">&nbsp&nbsp Nada a mostrar, use o botão 'Adicionar' para adicionar um conteúdo ou 'Atribuir conteúdos' para atribuir conteúdos à lista de reprodução.</h5>
  </ul>
</div>
<div ng-if="fn.editMode" class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title">Renomear ou excluir arquivos, toque em Concluído ao concluir<a ng-click="fn.edit()" class="btn btn-primary pull-right text-white"><i class="fa fa-check"></i> Concluído</a></div>
  </div>
  <ul class="list-group">
    <li ng-repeat="name in names" class="list-group-item">
      <form name="editform" class="row">
        <div ng-class="editform.$dirty?'':fieldStatus" class="form-group col-xs-10">
          <div class="input-group col-xs-12">
            <input type="text" ng-model="name.name" class="form-control"/><span ng-bind="name.ext" ng-hide="editform.$dirty" class="input-group-addon"></span><span ng-click="fn.rename($index)" ng-show="editform.$dirty" class="input-group-btn"><a type="button" class="btn btn-success">Salvar</a></span>
          </div>
        </div>
        <div class="col-xs-2">
          <button ng-click="fn.delete($index)" class="btn btn-danger pull-right text-white"><i class="fa fa-trash"></i></button>
        </div>
      </form>
    </li>
  </ul>
</div>