<style>
.wrapper {
  display: flex;
  width: 100%;
  margin-top:63px;
  
}
#content {
  margin-left: 250px;
}
#sidebar {
  margin-top:63px;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: white;
  color: black;
  transition: all 0.3s;
}
.container {
  width: auto;
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
  height: auto!important;
}

</style>

<div class="wrapper">
  
  <nav id="sidebar" style="padding: 15px;">
    <ul class="list-unstyled components">
      <li style="border-bottom: 1px solid #ccc; padding-top:10px;"><a href="/#/help/#como-cadastrar-conteudo" target="_self">Como cadastrar um conteúdo</a></li>
      <li style="border-bottom: 1px solid #ccc; padding-top:10px;"><a href="/#/help/#como-criar-playlist" target="_self">Como criar uma Playlist</a></li>
      <li style="border-bottom: 1px solid #ccc; padding-top:10px;"><a href="/#/help/#atribuir-conteudo-playlist" target="_self">Como atribuir um conteúdo a uma Playlist</a></li>
      <li style="border-bottom: 1px solid #ccc; padding-top:10px;"><a href="/#/help/#criar-grupo-telas" target="_self">Como criar um Grupo de Telas</a></li>
      <li style="border-bottom: 1px solid #ccc; padding-top:10px;"><a href="/#/help/#associar-playlist" target="_self">Como associar uma Playlist a um Grupo de Telas</a></li>
      <li style="border-bottom: 1px solid #ccc; padding-top:10px;"><a href="/#/help/#como-iniciar-reproducao" target="_self">Como iniciar a reprodução</a></li>
    </ul>
  </nav>

  <div id="content">

    <div  class="panel panel-info">
      
      <div class="panel-heading">
      
        <div class="row">
      
          <div class="col-sm-12">
            <h3 class="panel-title">Ajuda</h3>
            <p>Esta seção servirá para que você compreenda basicamente esse sistema.</p>
          </div>
      
        </div>

      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <h3>1 - O que é o Cubo?</h3>
            <p>É um equipamento com quatro telas (televisões) controladas por meio de pequenos computadores que obedecem a este painel de controle. Esse cubo estará na sua escola e você poderá utilizá-lo.</p>
            <br>

            <h3>2 - Por onde você começa?</h3>
            <p>Primeiro, compreenda basicamente os botões <b>"Conteúdos"</b> e <b>"Telas"</b>. </p>
            <br>

            <p>
              <b>Conteúdos:</b>
              <br>&nbsp;&nbsp;&nbsp;&nbsp;- <b>Conteúdos</b> é o local no sistema onde você acrescenta vídeos e/ou imagens que deseja mostrar à sua turma.
              <br>&nbsp;&nbsp;&nbsp;&nbsp;- Para mostrá-los de maneira organizada, você precisará criar uma <b>Playlist</b> (lista de reprodução) e atribuir os conteúdos inseridos à essa Playlist. 
              <br>&nbsp;&nbsp;&nbsp;&nbsp;- São as Playlists que você vai associar aos <b>Grupos de Telas</b>.
            </p>

            <p>
              <b>Telas:</b>
              <br>&nbsp;&nbsp;&nbsp;&nbsp;- <b>Telas</b> é onde você organiza os Grupos de Telas (televisões). 
              <br>&nbsp;&nbsp;&nbsp;&nbsp;- Cada <b>Grupo de Telas</b> mostra uma <b>Playlist</b> diferente. Para isso, é preciso <b>associar</b> a Playlist desejada ao Grupo de Telas.
              <br>&nbsp;&nbsp;&nbsp;&nbsp;- Existem quatro televisões no Cubo. Você pode associá-las de diferentes formas.
              
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <b>Sugestão de uso 1:</b> A mesma Playlist em todas as telas.<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <b>Sugestão de uso 2:</b> Alternar duas Playlists diferentes.<br>

             
            </p>
            
          </div>
        </div>
      </div>

      <div class="panel-title" id="como-cadastrar-conteudo">
        <div class="row">
          <div class="col-sm-12">
            <h3>Como cadastrar conteúdo</h3>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            
            <p>Para cadastrar um conteúdo, você deve clicar em "Conteúdos" no menu superior direito, em seguida clique em "Adicionar".</p>
            <div class="embed-responsive embed-responsive-16by9">
              <a href="app/img/help/cadastrar-conteudo-1.png" target="_new"><img class="embed-responsive-item" src="app/img/help/cadastrar-conteudo-1.png" alt=""></a>
            </div>
            <p class="text-right">
              <small>Clique sobre a imagem para vê-la no tamanho real</small>
            </p>
            <p>Uma nova janela vai se abrir para que você busque no seu computador pelo conteúdo a ser adicionado. Escolha o conteúdo e prossiga.</p>
            <div class="embed-responsive embed-responsive-16by9">
              <a href="app/img/help/cadastrar-conteudo-2.png" target="_new"><img class="embed-responsive-item" src="app/img/help/cadastrar-conteudo-2.png" alt=""></a>
            </div>
            <p class="text-right">
              <small>Clique sobre a imagem para vê-la no tamanho real</small>
            </p>
            <p>Então uma nova janela se abrirá para ajudar você a organizar melhor o conteúdo inserido. Nessa janela, você poderá criar uma nova Etiqueta para identificar o conteúdo ou selecionar uma etiqueta já criada.</p>
            <div class="embed-responsive embed-responsive-16by9">
              <a href="app/img/help/cadastrar-conteudo-3.png" target="_new"><img class="embed-responsive-item" src="app/img/help/cadastrar-conteudo-3.png" alt=""></a>
            </div>
            <p class="text-right">
              <small>Clique sobre a imagem para vê-la no tamanho real</small>
            </p>
            <p>Caso queira adicionar uma nova etiqueta, digite o nome da nova etiqueta no campo "Nova etiqueta", em seguida clique em "Adicionar etiqueta".</p>
            <div class="embed-responsive embed-responsive-16by9">
              <a href="app/img/help/cadastrar-conteudo-4.png" target="_new"><img class="embed-responsive-item" src="app/img/help/cadastrar-conteudo-4.png" alt=""></a>
            </div>
            <p class="text-right">
              <small>Clique sobre a imagem para vê-la no tamanho real</small>
            </p>
            <p>Você verá a nova etiqueta ser adicionada na lista de etiquetas já selecionada. Então clique em "Continue".</p>
            <div class="embed-responsive embed-responsive-16by9">
              <a href="app/img/help/cadastrar-conteudo-5.png" target="_new"><img class="embed-responsive-item" src="app/img/help/cadastrar-conteudo-5.png" alt=""></a>
            </div>
            <p class="text-right">
              <small>Clique sobre a imagem para vê-la no tamanho real</small>
            </p>
            <p>Finalmente, basta clicar em OK após a tela de aviso e seu conteúdo já estará incluído.</p>
            <div class="embed-responsive embed-responsive-16by9">
              <a href="app/img/help/cadastrar-conteudo-6.png" target="_new"><img class="embed-responsive-item" src="app/img/help/cadastrar-conteudo-6.png" alt=""></a>
            </div>
            <p class="text-right">
              <small>Clique sobre a imagem para vê-la no tamanho real</small>
            </p>
          </div>
        </div>
      </div>

      <div class="panel-title" id="como-criar-playlist">
        <div class="row">
          <div class="col-sm-12">
            <h3>Como criar uma Playlist (lista de reprodução)</h3>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <p>Para cadastrar uma Playlist, você deve clicar em "Conteúdos" no menu superior direito. Lá, você verá uma caixa com o título Playlists. Logo abaixo da palavra Playlists, verá um campo para inserir o nome da "Nova Playlist". Digite ali o nome da nova Playlist e clique no botão "+" ao lado do campo.</p>
            <div class="embed-responsive embed-responsive-16by9">
              <a href="app/img/help/criar-playlist-1.png" target="_new"><img class="embed-responsive-item" src="app/img/help/criar-playlist-1.png" alt=""></a>
            </div>
            <p>Então, você verá o nome da nova Playlist sendo listada logo abaixo na lista de Playlists.</p>
            <div class="embed-responsive embed-responsive-16by9">
              <a href="app/img/help/criar-playlist-2.png" target="_new"><img class="embed-responsive-item" src="app/img/help/criar-playlist-2.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-title" id="atribuir-conteudo-playlist">
        <div class="row">
          <div class="col-sm-12">
            <h3>Como atribuir um conteúdo a uma Playlist</h3>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <p class="mt-3">Para atribuir um conteúdo à uma Playlist, você deve clicar em "Conteúdos" no menu do canto superior direito e em seguida clicar no nome da Playlist para a qual deseja atribuir o(s) conteúdo(s). Agora você deve clicar em "Atribuir conteúdos".</p>
            <div class="embed-responsive embed-responsive-16by9">
              <a href="app/img/help/criar-playlist-2.png" target="_new"><img class="embed-responsive-item" src="app/img/help/criar-playlist-2.png" alt=""></a>
            </div>
            <p class="mt-3">Na coluna da esquerda, estarão todos os conteúdos. Na coluna da direita, estarão os conteúdos já atribuídos à Playlist ou nenhum, caso ainda não tenham sido atribuídos conteúdos à Playlist. Arraste os conteúdos da lista à esquerda para a direita. </p class="mt-3">
            <div class="embed-responsive embed-responsive-16by9">
              <a href="app/img/help/criar-playlist-3.png" target="_new"><img class="embed-responsive-item" src="app/img/help/criar-playlist-3.png" alt=""></a>
            </div>
            <p class="mt-3">Na coluna da direita, você vai perceber alguns controles para facilitar o manuseio deles na Playlist. Entre eles, <b>duplicar</b> um item da Playlist:</p class="mt-3">
            <div class="embed-responsive embed-responsive-16by9">
              <a href="app/img/help/criar-playlist-4.png" target="_new"><img class="embed-responsive-item" src="app/img/help/criar-playlist-4.png" alt=""></a>
            </div>
            <p class="mt-3"><b>Remover</b> um item da Playlist:</p class="mt-3">
            <div class="embed-responsive embed-responsive-16by9">
              <a href="app/img/help/criar-playlist-5.png" target="_new"><img class="embed-responsive-item" src="app/img/help/criar-playlist-5.png" alt=""></a>
            </div>
            <p class="mt-3"><b>Tempo de mostragem</b> do item na playlist (em segundos): </p class="mt-3">
            <div class="embed-responsive embed-responsive-16by9">
              <a href="app/img/help/criar-playlist-6.png" target="_new"><img class="embed-responsive-item" src="app/img/help/criar-playlist-6.png" alt=""></a>
            </div>
            <p class="mt-3"><b>Mostrar tela cheia</b> (ocupa todo o espaço da tela): </p class="mt-3">
            <div class="embed-responsive embed-responsive-16by9">
              <a href="app/img/help/criar-playlist-7.png" target="_new"><img class="embed-responsive-item" src="app/img/help/criar-playlist-7.png" alt=""></a>
            </div>
            <p class="mt-3"><b>Silenciar</b> que remove o audio durante a mostragem:</p class="mt-3">
            <div class="embed-responsive embed-responsive-16by9">
              <a href="app/img/help/criar-playlist-8.png" target="_new"><img class="embed-responsive-item" src="app/img/help/criar-playlist-8.png" alt=""></a>
            </div>
            <p class="mt-3">No caso de imagem, ainda pode ser incluída uma <b>mensagem</b> sobre a imagem: </p class="mt-3">
            <a href="app/img/help/criar-playlist-9.png" target="_new"><img style="width:100%; height:auto;" src="app/img/help/criar-playlist-9.png" alt=""></a>
          </div>
        </div>
      </div>

         
      <div class="panel-title" id="criar-grupo-telas">
        <div class="row">
          <div class="col-sm-12">
            <h3>Como criar um Grupo de Telas</h3>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <p class="mt-3">Para criar um grupo de telas, clique no botão Telas no menu do canto superior direito.</p class="mt-3">
            <div class="embed-responsive embed-responsive-16by9">
              <a href="app/img/help/criar-grupo-telas-1.png" target="_new"><img class="embed-responsive-item" src="app/img/help/criar-grupo-telas-1.png" alt=""></a>
            </div>
            <p class="mt-3">Em seguida, digite o nome do novo Grupo de Telas na caixa de texto acima da listagem e clique no botão "+": </p class="mt-3">
            <div class="embed-responsive embed-responsive-16by9">
              <a href="app/img/help/criar-grupo-telas-2.png" target="_new"><img class="embed-responsive-item" src="app/img/help/criar-grupo-telas-2.png" alt=""></a>
            </div>
            <p class="mt-3">E pronto! Você verá o nome do grupo de telas listado. </p class="mt-3">
            <div class="embed-responsive embed-responsive-16by9">
              <a href="app/img/help/criar-grupo-telas-3.png" target="_new"><img class="embed-responsive-item" src="app/img/help/criar-grupo-telas-3.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>

     

      <div class="panel-title" id="associar-playlist">
        <div class="row">
          <div class="col-sm-12">
            <h3>Como associar uma Playlist a um Grupo de Telas</h3>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <p class="mt-3">Clique no botão Telas no menu superior direito. Em seguida, selecione o nome do Grupo de Telas ao qual deseja atribuir uma Playlist. </p class="mt-3">
            <div class="embed-responsive embed-responsive-16by9">
              <a href="app/img/help/associar-playlist-a-grupo-2.png" target="_new"><img class="embed-responsive-item" src="app/img/help/associar-playlist-a-grupo-2.png" alt=""></a>
            </div>
            <p class="mt-3">Agora, selecione uma Playlist no menu de salto <b>Lista de reprodução padrão para o grupo</b> e pronto. </p class="mt-3">
            <div class="embed-responsive embed-responsive-16by9">
              <a href="app/img/help/associar-playlist-a-grupo-3.png" target="_new"><img class="embed-responsive-item" src="app/img/help/associar-playlist-a-grupo-3.png" alt=""></a>
            </div>
            
          </div>
        </div>
      </div>


      <div class="panel-title" id="como-iniciar-reproducao">
        <div class="row">
          <div class="col-sm-12">
            <h3>Como iniciar a reprodução</h3>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <p class="mt-3">Para reproduzir um grupo de telas, clique no botão Telas no menu do canto superior direito. Em seguida, clique no Grupo de Telas desejado e clique em "Reproduzir em [nome do grupo de telas]"</p class="mt-3">
            <div class="embed-responsive embed-responsive-16by9">
              <a href="app/img/help/reproduzir.png" target="_new"><img class="embed-responsive-item" src="app/img/help/reproduzir.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>
