<div  class="panel panel-info">
  
  <div class="panel-heading">
  
    <div class="row">
  
      <div class="col-sm-12">
        <h3 class="panel-title">Ajuda</h3>
        <p>Esta seção servirá para que você compreenda basicamente esse sistema.</p>
      </div>
  
    </div>

  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <h3>1 - O que é o Cubo?</h3>
        <p>É um equipamento com quatro telas (televisões) controladas por meio de pequenos computadores que obedecem a este painel de controle. Esse cubo estará na sua escola e você poderá utilizá-lo.</p>
        <br>

        <h3>2 - Por onde você começa?</h3>
        <p>Primeiro, compreenda basicamente os botões <b>"Conteúdos"</b> e <b>"Telas"</b>. </p>
        <br>

        <p>
          <b>Conteúdos:</b>
          <br>&nbsp;&nbsp;&nbsp;&nbsp;- <b>Conteúdos</b> é o local no sistema onde você acrescenta vídeos e/ou imagens que deseja mostrar à sua turma.
          <br>&nbsp;&nbsp;&nbsp;&nbsp;- Para mostrá-los de maneira organizada, você precisará criar uma <b>Playlist</b> (lista de reprodução) e atribuir os conteúdos inseridos à essa Playlist. 
          <br>&nbsp;&nbsp;&nbsp;&nbsp;- São as Playlists que você vai associar aos <b>Grupos de Telas</b>.
        </p>

        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;<a href="/#/help/#como-cadastrar-conteudo" target="_self" class="btn btn-primary" style="margin-bottom:5px;">Como cadastrar um conteúdo</a><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<a href="/#/help/#como-criar-playlist" target="_self" class="btn btn-primary" style="margin-bottom:5px;">Como criar uma Playlist</a><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<a href="/#/help/#associar-playlist" target="_self" class="btn btn-primary" style="margin-bottom:5px;">Como associar uma Playlist a um Grupo de Telas</a><br>
        </p>
    
        <p>
          <b>Telas:</b>
          <br>&nbsp;&nbsp;&nbsp;&nbsp;- <b>Telas</b> é onde você organiza os Grupos de Telas (televisões). 
          <br>&nbsp;&nbsp;&nbsp;&nbsp;- Cada <b>Grupo de Telas</b> mostra uma <b>Playlist</b> diferente. Para isso, é preciso <b>associar</b> a Playlist desejada ao Grupo de Telas.
          <br>&nbsp;&nbsp;&nbsp;&nbsp;- Existem quatro televisões no Cubo. Você pode associá-las de diferentes formas.
          
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <b>Sugestão de uso 1:</b> A mesma Playlist em todas as telas.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <b>Sugestão de uso 2:</b> Alternar duas Playlists diferentes.<br>

          &nbsp;&nbsp;&nbsp;&nbsp;<a href="/#/help/#criar-grupo-telas" target="_self" class="btn btn-primary" style="margin-bottom:5px;">Como criar um Grupo de Telas</a><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<a href="/#/help/#associar-playlist" target="_self" class="btn btn-primary" style="margin-bottom:5px;">Como associar uma Playlist a um Grupo de Telas</a><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<a href="/#/help/#como-iniciar-reproducao" target="_self" class="btn btn-primary" style="margin-bottom:5px;">Como iniciar a reprodução</a><br>
        </p>
        
      </div>
    </div>
  </div>

  <div class="panel-title" id="como-cadastrar-conteudo">
    <div class="row">
      <div class="col-sm-12">
        <h3>Como cadastrar conteúdo</h3>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        
        <p>Para cadastrar um conteúdo, você deve clicar em "Conteúdos" no menu superior direito, em seguida clique em "Adicionar".</p>
        <div class="embed-responsive embed-responsive-16by9">
          <a href="app/img/help/cadastrar-conteudo-1.png" target="_new"><img class="embed-responsive-item" src="app/img/help/cadastrar-conteudo-1.png" alt=""></a>
        </div>
        <p class="text-right">
          <small>Clique sobre a imagem para vê-la no tamanho real</small>
        </p>
        <p>Uma nova janela vai se abrir para que você busque no seu computador pelo conteúdo a ser adicionado. Escolha o conteúdo e prossiga.</p>
        <div class="embed-responsive embed-responsive-16by9">
          <a href="app/img/help/cadastrar-conteudo-2.png" target="_new"><img class="embed-responsive-item" src="app/img/help/cadastrar-conteudo-2.png" alt=""></a>
        </div>
        <p class="text-right">
          <small>Clique sobre a imagem para vê-la no tamanho real</small>
        </p>
        <p>Então uma nova janela se abrirá para ajudar você a organizar melhor o conteúdo inserido. Nessa janela, você poderá criar uma nova Etiqueta para identificar o conteúdo ou selecionar uma etiqueta já criada.</p>
        <div class="embed-responsive embed-responsive-16by9">
          <a href="app/img/help/cadastrar-conteudo-3.png" target="_new"><img class="embed-responsive-item" src="app/img/help/cadastrar-conteudo-3.png" alt=""></a>
        </div>
        <p class="text-right">
          <small>Clique sobre a imagem para vê-la no tamanho real</small>
        </p>
        <p>Caso queira adicionar uma nova etiqueta, digite o nome da nova etiqueta no campo "Nova etiqueta", em seguida clique em "Adicionar etiqueta".</p>
        <div class="embed-responsive embed-responsive-16by9">
          <a href="app/img/help/cadastrar-conteudo-4.png" target="_new"><img class="embed-responsive-item" src="app/img/help/cadastrar-conteudo-4.png" alt=""></a>
        </div>
        <p class="text-right">
          <small>Clique sobre a imagem para vê-la no tamanho real</small>
        </p>
        <p>Você verá a nova etiqueta ser adicionada na lista de etiquetas já selecionada. Então clique em "Continue".</p>
        <div class="embed-responsive embed-responsive-16by9">
          <a href="app/img/help/cadastrar-conteudo-5.png" target="_new"><img class="embed-responsive-item" src="app/img/help/cadastrar-conteudo-5.png" alt=""></a>
        </div>
        <p class="text-right">
          <small>Clique sobre a imagem para vê-la no tamanho real</small>
        </p>
        <p>Finalmente, basta clicar em OK após a tela de aviso e seu conteúdo já estará incluído.</p>
        <div class="embed-responsive embed-responsive-16by9">
          <a href="app/img/help/cadastrar-conteudo-6.png" target="_new"><img class="embed-responsive-item" src="app/img/help/cadastrar-conteudo-6.png" alt=""></a>
        </div>
        <p class="text-right">
          <small>Clique sobre a imagem para vê-la no tamanho real</small>
        </p>
      </div>
    </div>
  </div>

  <div class="panel-title" id="como-criar-playlist">
    <div class="row">
      <div class="col-sm-12">
        <h3>Como criar uma Playlist (lista de reprodução)</h3>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <p>Para ...</p>
      </div>
    </div>
  </div>

  <div class="panel-title" id="associar-playlist">
    <div class="row">
      <div class="col-sm-12">
        <h3>Como associar uma Playlist a um Grupo de Telas</h3>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <p>Para ...</p>
      </div>
    </div>
  </div>
  
  <div class="panel-title" id="criar-grupo-telas">
    <div class="row">
      <div class="col-sm-12">
        <h3>Como criar um Grupo de Telas</h3>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <p>Para ...</p>
      </div>
    </div>
  </div>

  <div class="panel-title" id="como-iniciar-reproducao">
    <div class="row">
      <div class="col-sm-12">
        <h3>Como iniciar a reprodução</h3>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <p>Para ...</p>
      </div>
    </div>
  </div>

</div>