
<div class="panel panel-info">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-12">
        <h5 class="panel-title">
          {{asset.showAssets.assets.length}}&nbsp;recursos em&nbsp;
          "{{asset.showAssets.playlist.name}}"&nbsp;<span class="text-white">&nbsp;(Arrastar para Adicionar/Remover)</span>
        </h5>
      </div>
      <div class="col-sm-12"><a ng-click="done()" class="btn btn-primary pull-right">Concluído</a></div>
    </div>
  </div>


  <ul as-sortable="sortable.options" ng-model="asset.showAssets.assets" style="min-height:50px;" class="list-group">
    <div ng-repeat="file in asset.showAssets.assets" as-sortable-item="as-sortable-item" style="margin:0px;" ng-class="{&quot;list-group-item-danger&quot;:file.deleted}" class="list-group-item">
    <!--div ng-repeat="file in asset.showAssets.assets" as-sortable-item="as-sortable-item" style="margin:0px;" ng-class="{&quot;list-group-item-danger&quot;:file.deleted}" class="list-group-item"-->
      <hr>
      <div as-sortable-item-handle="as-sortable-item-handle" class="row">

        <div class="col-sm-2">
          <a ng-click="fn.showDetails(file.fileDetails.name)" class="pull-right">
            <img ng-if="file.fileDetails.thumbnail" ng-src="{{file.fileDetails.thumbnail}}" class="media-object img-rounded"/>
            <div ng-if="!file.fileDetails.thumbnail" class="letter-box media-object img-rounded">
              <span ng-if="file.fileDetails.type == &quot;audio&quot;">
                <i class="fa fa-music"></i>
              </span>
              <span ng-if="file.fileDetails.type != &quot;audio&quot;">
                {{file.fileDetails.type.slice(0,1) || 'N'}}
              </span>
            </div>
          </a>
        </div>

        <div class="col-sm-10">
          <h4>{{file.fileDetails.name }}</h4>
        </div>
      </div>

    
      <div class="row mt-3" >
        <div class="col-sm-12">
          <span>
            <a title="{{'Duplique este item para adicioná-lo múltiplas vezes na playlist'}}" ng-click="makeCopy(file,$index)" class="btn btn-link">
              <i class="fa fa-copy"></i>
            </a>
          </span>
          Clique para duplicar este item na Playlist
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span>
            <a ng-click="removeAsset($index)" class="btn">
              <i class="fa fa-trash text-danger"></i>
            </a>
          </span>
          Clique para remover este item da Playlist
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          Tempo de mostragem do item (em segundos): <span><input type="number" ng-model="file.playlistDetails.duration" min="5" ng-model-options="{ updateOn: 'blur' }" ng-change="saveData()" class="input-sm"/></span>
        </div>

      </div>

      <div class="row" style="margin-top:15px; margin-bottom:15px;">
        <div class="col-sm-12">
          <label ng-class="{'label-danger':file.playlistDetails.fullscreen,'label-default':!file.playlistDetails.fullscreen}" class="label" style="padding:10px; font-size:12px;text-transform: uppercase;">
            <input type="checkbox" name="fullscreen" ng-model="file.playlistDetails.fullscreen"/>
            <span>&nbsp;mostrar tela cheia</span>
          </label>
        </div>
      </div>

      <div class="row">
        
        <div ng-show="file.fileDetails.muteButtonEnable" class="col-sm-12">
          <label title="mute the audio" class="btn btn-link text-muted">
            <input type="checkbox" ng-model="file.playlistDetails.option.main" ng-model-options="{ debounce: 500 }"/><span class="pl-5">silenciar</span>
          </label>
        </div>
        
        <div ng-show="file.fileDetails.type == &quot;audio&quot; || file.fileDetails.type == &quot;radio&quot;" class="col-sm-12">
          <label title="Tocar como música de fundo" class="btn btn-link text-muted">
            <input type="checkbox" ng-model="file.playlistDetails.option.main" ng-model-options="{ debounce: 500 }" ng-true-value="false" ng-false-value="true" ng-checked="file.playlistDetails.option.main !== true"/><span class="pl-5"> tocar como música de fundo</span>
          </label>
        </div>
        
        <div ng-show="file.fileDetails.type == &quot;image&quot; || file.fileDetails.type == &quot;video&quot;" class="col-sm-12">
          Adicionar uma mensagem sobre a imagem/vídeo: 
          <br> 
          <input class="form-control" type="text" ng-model="file.playlistDetails.option.bannerText" placeholder="mensagem de texto sobre a imagem/video" ng-model-options="{ debounce: 500 }"/>
        </div>
        
        <div ng-show="file.fileDetails.type == &quot;pdf&quot;" class="col-sm-12">
          <label title="Usar modo Apresentação" class="btn btn-link text-muted">
            <input type="checkbox" ng-model="file.playlistDetails.option.main" ng-model-options="{ debounce: 500 }"/><span class="pl-5">usar modo de apresentação</span>
          </label>
          <input ng-show="file.playlistDetails.option.main" type="number" ng-model="file.playlistDetails.option.subduration" min="1" placeholder="duração de cada slide" ng-model-options="{ debounce: 500 }" class="form-control input-sm"/>
        </div>
           
      </div>
    
    </li>
    <li ng-if="!asset.showAssets.assets.length" class="list-group-item">
      <h4 class="text-danger">Nada a mostrar. Por favor, arraste recursos para esta caixa.</h4>
    </li>
  </ul>
</div>