
<div class="modal-header">
  <h4><span>Configurações do Player para o player&nbsp;</span><span>{{selectedPlayer.name || selectedPlayer.localName}}</span>
    <button ng-click="settingsModal.close()" class="btn btn-primary pull-right"><i class="fa fa-check"></i>&nbsp;&nbsp;Concluído</button>
  </h4>
</div>
<div class="modal-body">
  <form role="form" name="playersettings">
    <div class="form-group row">
      <label class="control-label col-sm-3">Grupo selecionado</label>
      <div class="col-sm-6">
        <select ng-model="selectedGroup" ng-change="assignGroup(selectedGroup)" ng-options="group for group in group.groupNames" class="form-control">
          <option value="">-- nenhum --</option>
        </select>
      </div>
    </div>
    <div ng-show="playerLabels.length" class="form-group row">
      <label class="control-label col-sm-3"> Selecionar etiquetas</label>
      <div ng-if="playerLabels" class="col-sm-6">
        <div ng-dropdown-multiselect="" options="playerLabels" selected-model="ngDropdown.selectedLabels" events="ngDropdown.events" translation-texts="ngDropdown.customTexts" extra-settings="ngDropdown.extraSettings" checkboxes="true"></div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="form-group row">
    <label class="control-label col-sm-7 col-sm-offset-3 text-danger"> Exclua o player da base de dados do servidor</label>
    <div class="col-sm-2">
      <button ng-click="deregister()" class="btn btn-danger pull-right"><i class="fa fa-trash"></i>&nbsp;&nbsp;Excluir</button>
    </div>
  </div>
</div>