
<div style="margin-bottom:0px;" class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="text-center">
        Selecione Layout da tela (padrão 1)
      <button ng-click="modal.close()" class="btn btn-success pull-right">Concluído</button>
    </h4>
  </div>
  <div class="panel-body">
    <tabset>
      <tab heading="Layouts"><i><small>
          O monitor pode ser dividido em várias zonas, com cada zona reproduzindo conteúdo diferente. Arquivos de vídeo podem ser reproduzidos
                      somente na zona principal. Selecione um arquivo na lista de reprodução para reproduzir na zona principal, adicione outros arquivos de zona ao arquivo principal
                      clicando no botão do arquivo de zona. Se não houver um arquivo anexado a uma zona específica, o conteúdo anterior dessa zona
                      continuará a jogar.</small></i>
        <ul class="list-group">
          <li ng-repeat="(ltype,item) in layouts" ng-class="{'list-group-item-success':playlist.selectedPlaylist.layout == ltype}" class="list-group-item">
            <div class="row">
              <div dropdown="dropdown" class="col-sm-10 dropdown">
                <div class="radio">
                  <label>
                    <input type="radio" value="{{ltype}}" ng-change="saveLayout()" ng-disabled="item.disabled" ng-model="playlist.selectedPlaylist.layout"/><strong class="text-primary">{{ltype}}: &nbsp;{{item.title}}</strong>
                    <p><small>({{item.description}})</small></p>
                  </label>
                </div>
                <button dropdown-toggle="dropdown-toggle" ng-if="ltype.indexOf('custom') === 0" class="btn btn-sm btn-link dropdown-toggle"><small class="text-muted">layout file:&nbsp;</small><small>{{playlist.selectedPlaylist.templateName || "Selecione um arquivo custom_layout * .html em recursos"}}</small><i class="fa fa-caret-down"></i></button>
                <ul role="menu" ng-if="ltype.indexOf('custom') === 0" class="dropdown-menu">
                  <li ng-repeat="asset in asset.files | filter:customTemplates"><a href="#" ng-click="selectTemplate(asset,ltype)">&nbsp;&nbsp;{{asset}}</a></li>
                </ul>
              </div>
              <div class="col-sm-2"><img height="40px" ng-src="/app/img/{{ltype}}.png"/></div>
            </div>
          </li>
        </ul>
      </tab>
      <tab heading="Main Video Window">
        <h4>
            Alterar o tamanho da janela de vídeo da zona principal</h4><i><small>Esta seção é apenas para usuários avançados !! Alterar qualquer parâmetro afetaria o tamanho da exibição do vídeo.</small>
              Se houver algum problema, clique em 'Restaurar padrões'. Os parâmetros `length` e` width` definem o tamanho real da janela, `Left-offset` e` Top-Offset` definem a posição da janela em sua tela.<b>
                  USE ESTE RECURSO COM CUIDADO</b></i>
        <form name="layoutform">
          <div class="form-group row">
            <div class="col-sm-2 col-sm-offset-2">
              <label class="control-label"><small>Largura:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="videoWindow.length" required="" class="form-control"/>
            </div>
            <div class="col-sm-2">
              <label class="control-label"><small>Altura:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="videoWindow.width" required="" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-2 col-sm-offset-2">
              <label class="control-label"><small>Left-Offset:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="videoWindow.xoffset" required="" class="form-control"/>
            </div>
            <div class="col-sm-2">
              <label class="control-label"><small>Top-Offset:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="videoWindow.yoffset" required="" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="fullscreen_checkbox" ng-model="videoWindow.mainzoneOnly" ng-true-value="false" ng-false-value="true" ng-checked="videoWindow.mainzoneOnly !== true"/><small class="text-muted pl-5">
                      Use também como dimensões de TELA COMPLETA (para exibições personalizadas)</small>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-3">
              <button ng-click="setVideoWindow(null)" class="btn btn-danger">Restaurar padrões</button>
            </div>
            <div class="col-sm-3">
              <button ng-click="setVideoWindow(videoWindow)" ng-disabled="!layoutform.$valid" class="btn btn-info">Salvar novas alterações</button>
            </div>
          </div>
        </form>
      </tab>
      <tab heading="Side/Bottom Video Window">
        <h4>
            Alterar a posição da janela de vídeo para outras zonas</h4><i><small>
                Esta seção é apenas para layouts personalizados !! Alterar qualquer parâmetro afetaria o tamanho da exibição do vídeo nas zonas lateral e inferior.</small></i>
        <form name="sideZoneForm">
          <div class="alert alert-info text-center">Valores da zona lateral</div>
          <div class="form-group row">
            <div class="col-sm-2 col-sm-offset-2">
              <label class="control-label"><small>Largura:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.side.length" required="" class="form-control"/>
            </div>
            <div class="col-sm-2">
              <label class="control-label"><small>Altura:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.side.width" required="" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-2 col-sm-offset-2">
              <label class="control-label"><small>Left-Offset:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.side.xoffset" required="" class="form-control"/>
            </div>
            <div class="col-sm-2">
              <label class="control-label"><small>Top-Offset:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.side.yoffset" required="" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <button ng-click="setZoneVideoWindow('side',null)" class="btn btn-danger">Restaurar padrões da zona lateral</button>
            </div>
            <div class="col-sm-6">
              <button ng-click="setZoneVideoWindow('side',zoneVideoWindow.side)" ng-disabled="!sideZoneForm.$valid" class="btn btn-info">Salvar novas alterações</button>
            </div>
          </div>
          <hr/>
        </form>
        <form name="bottomZoneForm">
          <div class="alert alert-info text-center">Valores da zona inferior (rodapé)</div>
          <div class="form-group row">
            <div class="col-sm-2 col-sm-offset-2">
              <label class="control-label"><small>Largura:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.bottom.length" required="" class="form-control"/>
            </div>
            <div class="col-sm-2">
              <label class="control-label"><small>Altura:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.bottom.width" required="" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-2 col-sm-offset-2">
              <label class="control-label"><small>Left-Offset:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.bottom.xoffset" required="" class="form-control"/>
            </div>
            <div class="col-sm-2">
              <label class="control-label"><small>Top-Offset:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.bottom.yoffset" required="" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <button ng-click="setZoneVideoWindow('bottom',null)" class="btn btn-danger">Restaurar padrões da zona inferior</button>
            </div>
            <div class="col-sm-6">
              <button ng-click="setZoneVideoWindow('bottom',zoneVideoWindow.bottom)" ng-disabled="!bottomZoneForm.$valid" class="btn btn-info">Salvar novas alterações</button>
            </div>
          </div>
        </form>
      </tab>
      <tab heading="Zone4 Video" ng-if="playlist.selectedPlaylist.layout.indexOf('custom') === 0">
        <h4>Alterar a posição da janela de vídeo para zone4</h4><i><small>Esta seção é apenas para layouts personalizados !! Alterar qualquer parâmetro afetaria o tamanho da exibição do vídeo na zona4.</small></i>
        <form name="zone4Form">
          <div class="alert alert-info text-center">Zone4 Values</div>
          <div class="form-group row">
            <div class="col-sm-2 col-sm-offset-2">
              <label class="control-label"><small translate="translate">Largura:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.zone4.length" required="" class="form-control"/>
            </div>
            <div class="col-sm-2">
              <label class="control-label"><small translate="translate">Altura:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.zone4.width" required="" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-2 col-sm-offset-2">
              <label class="control-label"><small translate="translate">Left-Offset:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.zone4.xoffset" required="" class="form-control"/>
            </div>
            <div class="col-sm-2">
              <label class="control-label"><small translate="translate">Top-Offset:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.zone4.yoffset" required="" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <button ng-click="setZoneVideoWindow('zone4',null)" class="btn btn-danger">Restaurar padrões da Zone4</button>
            </div>
            <div class="col-sm-6">
              <button ng-click="setZoneVideoWindow('zone4',zoneVideoWindow.zone4)" ng-disabled="!zone4Form.$valid" class="btn btn-info">Salvar novas alterações</button>
            </div>
          </div>
        </form>
      </tab>
    </tabset>
  </div>
</div>