
<div class="modal-header">
  <div class="row">
    <div class="col-xs-8">
      <h4 ng-show="link.obj.type != '.txt'">Transmissão da Internet</h4>
      <h4 ng-show="link.obj.type == '.txt'">Adicionar uma mensagem</h4>
    </div>
    <div class="col-xs-4 pull-right">
      <button ng-disabled="Utubeform.$invalid" ng-click="link.save()" class="btn btn-success btn-block">Salvar</button>
    </div>
  </div>
</div>
<div class="modal-body">
  <p ng-if="errorMessage" class="text-danger">{{errorMessage}}</p>
  <form role="form" name="Utubeform" class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-4 control-label">Nome do arquivo</label>
      <div class="col-sm-8">
        <input type="text" name="linkname" ng-model="link.obj.name" placeholder="Os dados serão salvos no seu arquivo" required="" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Tipo de arquivo</label>
      <div class="col-sm-8">
        <select ng-options="entry.ext as entry.name for entry in link.types" name="linktype" ng-model="link.obj.type" required="" class="form-control"></select>
      </div>
    </div>
    <div ng-if="link.obj.type == '.mrss'" class="form-group">
      <label class="col-sm-4 control-label">Texto RSS</label>
      <div class="col-xs-8">
        <div class="radio-inline">
          <label>
            <input type="radio" name="radio_none" ng-model="link.obj.hideTitle" value="none"/><small>imagem</small>
          </label>
        </div>
        <div class="radio-inline">
          <label>
            <input type="radio" name="radio_title" ng-model="link.obj.hideTitle" value="title"/><small>imagem&título</small>
          </label>
        </div>
        <div class="radio-inline">
          <label>
            <input type="radio" name="radio_description" ng-model="link.obj.hideTitle" value="description"/><small>imagem&descrição</small>
          </label>
        </div>
        <div class="radio-inline">
          <label>
            <input type="radio" name="radio_title_noimg" ng-model="link.obj.hideTitle" value="onlytitle"/><small>título</small>
          </label>
        </div>
        <div class="radio-inline">
          <label>
            <input type="radio" name="radio_description_noimg" ng-model="link.obj.hideTitle" value="onlydescription"/><small>descrição</small>
          </label>
        </div>
      </div>
    </div>
    <div ng-if="link.obj.type == '.mrss'" class="form-group">
      <label translate="translate" class="control-label col-sm-4 text-right">Número de recursos</label>
      <div class="col-sm-2">
        <input type="number" name="count" placeholder="{{&quot;Número de recursos para exibir&quot; }}" ng-model="link.obj.numberOfItems" class="form-control"/>
      </div>
    </div>
    <div ng-if="link.obj.type == '.mrss'" class="form-group">
      <label class="control-label col-sm-4 text-right">Duração do Item </label>
      <div class="col-sm-2">
        <input type="number" name="duration" placeholder="{{&quot;Duração de cada Item alimentado&quot;}}" ng-model="link.obj.duration" class="form-control"/>
      </div>
    </div>
    <div ng-if="link.obj.type != '.txt'" class="form-group">
      <label class="col-sm-4 control-label">Endereço do link</label>
      <div class="col-sm-8">
        <input ng-if="link.obj.type == '.local'" type="text" name="linkUrl" ng-model="link.obj.link" placeholder="e.g. http(s)://site.com or rtsp://" required="" class="form-control"/>
        <input ng-if="link.obj.type != '.local'" type="text" name="linkUrl" ng-model="link.obj.link" ng-pattern="/^(http(s?)|rtsp|udp|rtmp):///" placeholder="e.g. http(s)://site.com or rtsp://" required="" class="form-control"/>
      </div>
    </div>
    <div ng-if="link.obj.type == '.weblink'" class="form-group">
      <label class="control-label col-sm-4">Nível de Zoom</label>
      <div class="col-sm-2">
        <input type="number" step="0.01" name="style" placeholder="Deixar em branco para nenhum zoom" ng-model="link.obj.zoom" class="form-control"/>
      </div>
    </div>
    <div ng-if="link.obj.type == '.txt' || link.obj.type == '.mrss'" class="form-group">
      <label class="col-sm-4 control-label">CSS Opcional</label>
      <div class="col-sm-8">
        <input type="text" name="style" placeholder="e.g. color:#eee; font-style:italic;" ng-model="link.obj.style" class="form-control"/>
      </div>
    </div>
    <div ng-if="link.obj.type == '.txt'" class="form-group">
      <label class="col-sm-4 control-label">Mensagem</label>
      <div class="col-sm-8">
        <textarea rows="4" cols="50" name="message" ng-model="link.obj.message" required="" class="form-control"></textarea>
      </div>
    </div>
  </form>
</div>
<!--.modal-footer-->
<!--    h5.pull-left.text-muted Select Categories for the link-->
<!--    p.pull-left-->
<!--        categories(selected-labels="linkCategories")-->