
<div class="modal-content">
  <div class="modal-header bg-default">
    <button ng-click="scheduleValidityModal.close()" class="close">&times;</button>
    <h4 class="modal-title"><span class="pr-5 text-muted"> Adicione período de validade para o Item:</span>{{forAsset.fileDetails.name}}</h4>
  </div>
  <div class="modal-body">
    <form role="form" id="schedulecal" name="schedulecal">
      <div class="form-group"><span class="help-block">Você pode adicionar um período de validade para que um Item seja mostrado na tela (por exemplo, duração da venda)</span></div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="forAsset.fileDetails.validity.enable"/><span>Adicionar período de validade</span>
          </label>
        </div>
      </div>
      <div ng-show="forAsset.fileDetails.validity.enable" class="form-group row">
        <label class="col-sm-2 control-label">Válido a partir de</label>
        <div class="col-sm-4">
          <input type="date" ng-model="forAsset.fileDetails.validity.startdate" ng-model-options="{timezone:'UTC'}" placeholder="{{'Início em' }}" name="startdate" ng-attr-title="{{&quot;Enter Start Date&quot; }}" class="form-control input-sm"/>
        </div>
        <label class="col-sm-2 control-label text-right">até</label>
        <div class="col-sm-4">
          <input type="date" ng-model="forAsset.fileDetails.validity.enddate" ng-model-options="{timezone:'UTC'}" placeholder="Até a data" name="enddate" title="{{&quot;Enter End Date&quot;}}" class="form-control input-sm"/>
        </div>
      </div>
      <div class="form-group row">
        <label ng-show="forAsset.fileDetails.validity.startdate" class="col-sm-4 control-label text-muted"> 
            hora de início opcional (0-23)</label>
        <div ng-show="forAsset.fileDetails.validity.startdate" class="col-sm-2">
          <input type="number" ng-model="forAsset.fileDetails.validity.starthour" placeholder="0-23" ng-min="0" ng-max="23" name="starttime" ng-attr-title="Enter the hour on start date to start 0-23" class="form-control input-sm"/>
        </div>
        <label ng-show="forAsset.fileDetails.validity.enddate" class="col-sm-4 control-label text-muted">hora final (1-24)</label>
        <div ng-show="forAsset.fileDetails.validity.enddate" class="col-sm-2">
          <input type="number" ng-model="forAsset.fileDetails.validity.endhour" placeholder="1-24" ng-min="1" ng-max="24" name="endtime" title="Enter hour on end date to end 1-24" class="form-control input-sm"/>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" ng-click="scheduleValidityModal.close()" class="btn btn-default">Cancelar</button>
    <button ng-click="saveValidity()" class="btn btn-primary">Salvar</button>
  </div>
</div>