
<div class="modal-header">
  <h3 class="text-warning">Ticker para a Playlist</h3>
</div>
<div class="modal-body">
  <form name="playlist.popForm" class="form">
    <div class="row form-group">
      <label class="text-muted control-label col-sm-3 text-right"><small>Ticker</small></label>
      <div class="col-sm-2">
        <div class="checkbox-inline">
          <label>
            <input type="checkbox" name="ticker_checkbox" ng-model="tickerObj.enable"/><small>Mostrar</small>
          </label>
        </div>
      </div>
      <label class="text-muted control-label col-sm-4 text-right"><small>
          Mostrar texto associado ao recurso</small></label>
      <div class="col-sm-2">
        <div class="checkbox-inline">
          <label>
            <input type="checkbox" name="ticker_enable" ng-model="tickerObj.bannerText"/><small>&nbsp;</small>
          </label>
        </div>
      </div>
    </div>
    <div ng-show="tickerObj.enable" class="row form-group">
      <label class="text-muted control-label col-sm-3 text-right"><small>Tipo</small></label>
      <div class="col-sm-9">
        <div class="radio-inline">
          <label>
            <input type="radio" value="slide" ng-model="tickerObj.behavior"/><small>Deslizar</small>
          </label>
        </div>
        <div class="radio-inline">
          <label>
            <input type="radio" value="scroll" ng-model="tickerObj.behavior"/><small>Rolar para a esquerda</small>
          </label>
        </div>
        <div class="radio-inline">
          <label>
            <input type="radio" value="scrollRight" ng-model="tickerObj.behavior"/><small>Rolar para a direita</small>
          </label>
        </div>
        <div class="radio-inline">
          <label class="text-info"><small>OpenVG</small><br/></label>
        </div>
        <div class="radio-inline">
          <label>
            <input type="radio" value="openvg_left" name="openvg_left" ng-model="tickerObj.behavior"/><small>esquerda</small>
          </label>
        </div>
        <div class="radio-inline">
          <label>
            <input type="radio" value="openvg_right" name="openvg_right" ng-model="tickerObj.behavior"/><small>direita</small>
          </label>
        </div>
      </div>
    </div>
    <div ng-show="tickerObj.enable &amp;&amp; tickerObj.behavior!= &quot;openvg_right&quot;&amp;&amp; tickerObj.behavior!= &quot;openvg_left&quot;" class="form-group row">
      <label class="control-label text-muted col-sm-3 text-right"><small>CSS Opcional</small></label>
      <div class="col-sm-9">
        <input type="text" placeholder="e.g. color:#eee; font-style:italic; " ng-model="tickerObj.style" class="form-control input-sm"/>
      </div>
    </div>
    <div ng-show="tickerObj.enable &amp;&amp; (tickerObj.behavior== &quot;openvg_right&quot; || tickerObj.behavior== &quot;openvg_left&quot;)" class="form-group row">
      <label class="control-label text-muted col-sm-3 text-right"><small> Tamanho da fonte</small></label>
      <div class="col-sm-2">
        <input type="text" placeholder="28" ng-model="tickerObj.tickerFontSize" class="form-control input-sm"/>
      </div>
      <label class="control-label text-muted col-sm-3 text-right"><small> Largura</small></label>
      <div class="col-sm-2">
        <input type="text" placeholder="0(cheio)" ng-model="tickerObj.tickerWidth" class="form-control input-sm"/>
      </div>
    </div>
    <div ng-show="tickerObj.enable &amp;&amp; (tickerObj.behavior== &quot;openvg_right&quot; || tickerObj.behavior== &quot;openvg_left&quot;)" class="form-group row">
      <label class="control-label text-muted col-sm-3 text-right"><small>posição x</small></label>
      <div class="col-sm-2">
        <input type="text" placeholder="0(esquerda)" ng-model="tickerObj.tickerX" class="form-control input-sm"/>
      </div>
      <label class="control-label text-muted col-sm-3 text-right"><small>posição y</small></label>
      <div class="col-sm-2">
        <input type="text" placeholder="0(rodapé)" ng-model="tickerObj.tickerY" class="form-control input-sm"/>
      </div>
    </div>
    <div ng-show="tickerObj.enable" class="form-group row">
      <label class="text-muted control-label col-sm-3 text-right"><small>Velocidade do Ticker</small></label>
      <div class="col-sm-9">
        <div class="radio-inline">
          <label>
            <input type="radio" value="1" name="slow" ng-model="tickerObj.textSpeed"/><small>Lento</small>
          </label>
        </div>
        <div class="radio-inline">
          <label>
            <input type="radio" value="2" name="medium" ng-model="tickerObj.textSpeed"/><small>Médio</small>
          </label>
        </div>
        <div class="radio-inline">
          <label>
            <input type="radio" value="3" name="full" ng-model="tickerObj.textSpeed"/><small>Total</small>
          </label>
        </div>
      </div>
    </div>
    <div ng-show="tickerObj.enable" class="row form-group">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="checkbox-inline">
          <label>
            <input type="checkbox" name="rss_checkbox" ng-model="tickerObj.rss.enable"/><small>Usar alimentação RSS</small>
          </label>
        </div>
      </div>
    </div>
    <div ng-show="tickerObj.enable &amp;&amp; tickerObj.rss.enable" class="form-group row">
      <label class="text-muted control-label col-sm-3 text-right"><small>Duração do item</small></label>
      <div class="col-sm-6">
        <input type="number" ng-model="tickerObj.rss.feedDelay" placeholder="{{'duração do item rss no modo slide'}}" class="form-control"/>
      </div>
    </div>
    <div ng-show="tickerObj.enable &amp;&amp; tickerObj.rss.enable" class="form-group row">
      <label class="text-muted control-label col-sm-3 text-right"><small>RSS feed Link</small></label>
      <div class="col-sm-8">
        <input type="text" ng-model="tickerObj.rss.link" placeholder="digite seu link rss ...." class="form-control"/>
        <div class="checkbox-inline">
          <label>
            <input type="checkbox" name="rss_encoding" ng-model="tickerObj.rss.encodeAsBinary"/><small><i class="text-primary">Use a codificação binária para RSS, ative-a se os caracteres não forem exibidos corretamente</i></small>
          </label>
        </div><br/>
        <div class="checkbox-inline">
          <label>
            <input type="checkbox" name="rss_field" ng-model="tickerObj.rss.useDescription"/><small><i class="text-primary">Use o campo de descrição do fluxo rss em vez do campo de título</i></small>
          </label>
        </div>
      </div>
    </div>
    <div ng-show="tickerObj.enable &amp;&amp; !tickerObj.rss.enable" class="form-group row">
      <label class="text-muted control-label col-sm-3 text-right"><small>Adicionar mensagens para o ticker</small></label>
      <div class="col-sm-8">
        <textarea name="ticker_messages" rows="5" ng-model="tickerObj.messages" placeholder="Digite aqui as mensagens" class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-9 col-sm-offset-3">
        <button ng-click="saveTickerSettings()" class="btn btn-success">Salvar</button>
      </div>
    </div>
  </form>
</div>